#wrap3 {
	display : none;
}

#admin_wrap {
	height : calc( 100vh - 80px );
	width : calc( 100vw - 350px );
}

#wrap2 #admin_box {
	border: 1px solid #e6ecf0;
}

#wrap2 #admin_table {
	box-sizing : border-box;
	background-color : white;
	width : 100%;
	margin : 0px;
	padding : 0px;
	display : block;
	border-radius : 0 0 4px 4px;
}

#wrap1 #admin_tab {
    border-bottom : 1px solid #e5e6e9;
    border-radius : 4px;
}

#admin_tab > div {
    background-color : white;
    border : 1px solid #dfe0e4;
    border-color : #e5e6e9 #dfe0e4 #e5e6e9;
	border-bottom : 0;
    padding : 12px;
    color : #66757f;
    font-size: 14px;
}

#wrap2 #admin_tab > div {
    display : inline-block;
    width : 90px;
    box-sizing : border-box;
    text-align : center;
	border-left : 0;
	border-top : 0;
}

#wrap2 #admin_tab > div:last-of-type {
    border-right : 1px #dfe0e4 solid;
}

#wrap1 #admin_tab > div:first-of-type {
    border-radius : 4px 4px 0 0;
}

#wrap1 #admin_tab > div:last-of-type {
    border-radius : 0px 0px 4px 4px;
}

#wrap1 #admin_tab > div:hover {
    cursor : pointer;
    background-color : #f6f6f6;
    color : #f15c3e;
}

#admin_tab > .admin_tab_active {
    color : black;
    font-weight : bold;
}

#admin_title {
    border-bottom : 1px solid #e6ecf0;
    font-size : 22px;
    padding : 11px;
	background-color : white;
	width : 100%;
	box-sizing : border-box;
}


@media screen and ( max-width : 1000px ) {
    #admin_title {
        display : none;
    }
	#admin_table {
		width : calc( 100vw - 30px );
	}
}

