body {
	overflow : hidden;
}

#chat_wrap {
	width : 100%;
	max-width : 1000px;
	margin : auto;
	padding-top : 42px;
	padding-bottom : 5px;
	height : calc( 100vh - 70px );
	color : #999;
	background-color : white;
	-webkit-box-shadow : 0px 1px 0 #dfe5ec;
	-moz-box-shadow : 0px 1px 0 #dfe5ec;
	box-shadow : 0px 1px 0 #dfe5ec;
	border-radius : 0 0 3px 3px;
	border-left : 1px solid #dfe5ec;
	border-right : 1px solid #dfe5ec;
	border-bottom : 1px solid #d2dbe3;
}

#chat_wrap #chat_header {
	width : 100%;
	height : 48px;
	color : white;
	background-color: rgba(255, 92, 62, 0.9);
}

#chat_wrap #chat_dialog {
	height : calc( 100% - 48px );
	width : 31%;
	vertical-align : top;
	display : inline-block;
	overflow : hidden;
	box-shadow : inset -2px 0px 0px 0px rgba(0,0,0,.1);
}

#chat_wrap #chat_dialog #chat_dialog_box {
	overflow : hidden;
	height : calc( 100% - 54px );
}

#chat_wrap #chat_dialog #chat_dialog_box:hover {
	overflow-y : scroll;
}

#chat_wrap #chat_dialog #chat_dialog_search.chat_dialogs {
	cursor : initial;
	border-right : 2px solid rgba(0, 0, 0, .1);
	background-color : white;
}


#chat_wrap #chat_dialog #chat_dialog_search input {
	font-size : 12px;
	line-height : normal;
	border : 1px solid #F2F2F2;
	border-radius:  2px;
	padding : 7px 6px 9px 30px;
	width : calc( 100% - 40px );
	margin-top : 2px;
	background-color : #f2f2f2;
	background-image : url('/img/search_icon.png');
	background-repeat : no-repeat;
	background-size : 20px 20px;
	background-position : 5px 4px;
	-webkit-transition : background-color .1s linear;
	-moz-transition : background-color .1s linear;
	-o-transition : background-color .1s linear;
	-ms-transition : background-color .1s linear;
	transition : background-color .1s linear;
}

#chat_wrap #chat_dialog #chat_dialog_search input:focus {
	background-color : white;
	outline : none;
}

#chat_wrap #chat_dialog .chat_dialogs {
	cursor : pointer;
	padding : 6px 10px 8px 15px;
	position : relative;
}

#chat_wrap #chat_dialog .chat_dialogs:hover {
	background-color : rgba(255,92,62,.3);
}

#chat_wrap #chat_dialog .chat_dialogs .chat_dialogs_time {
	letter-spacing : -1px;
	position : absolute;
	right : 14px;
	top : 10px;
	font-size : 12px;
}

#chat_wrap #chat_dialog .chat_dialogs img {
	width : 48px;
	height : 48px;
	vertical-align : middle;
	border-radius : 50%;
	overflow : hidden;
	margin-right : 15px;
	display : inline-block;
}

#chat_wrap #chat_dialog .chat_dialogs .chat_dialogs_message_wrap {
	vertical-align : middle;
	font-size : 13px;
	display : inline-block;
	word-wrap : break-word;
	overflow : hidden;
}

#chat_wrap #chat_dialog .chat_dialogs .chat_dialogs_message_wrap div {
	color : black;
	font-weight : 700;
}

#chat_wrap #chat_dialog .chat_dialogs .chat_dialogs_message_wrap span {
	color : #ff5c3e;	
}

#chat_wrap #chat_dialog #chat_dialog_box .chat_dialogs_selected {
	background-color: rgba(255, 92, 62, 0.8);
	color: white;
}

#chat_wrap #chat_dialog #chat_dialog_box .chat_dialogs_selected div {
	color: white;
}
#chat_wrap #chat_box {
	vertical-align : top;
	display : inline-block;
	margin : 0px;
	width : 69%;
	height : calc( 100% - 40px );
	position : relative;
}

#chat_wrap #chat_box #chat_panel {
	height : calc( 100% - 50px );
	border-bottom : 1px solid #e1e8ed;
}

#chat_wrap #chat_box #chat_panel .my_chat{
	text-align : right;
}

#chat_wrap #chat_box #send_panel {
	background-color : rgba(255, 92, 62, .15);
	width : 100%;
}

#chat_wrap #chat_box #send_panel textarea {
	box-shadow : box-shadow: 0 1px 0 0 #e8e8e8;
	margin : 6px;
	padding-top : 8px;
	padding-left : 8px;
	margin-bottom : 2px;
	width : calc( 100% - 140px );
	height : 23px;
	border : 1px solid rgba(255, 92, 62, .3);
}

#chat_wrap #chat_box #send_panel #upload_img {
	
}

#chat_wrap #chat_box #send_panel #send_btn {
	
}

#chat_wrap #chat_box #send_panel textarea:focus {
//	box-shadow : box-shadow: 0 1px 0 0 rgb(255, 92, 62);
	outline : none;
}

#chat_wrap #chat_box #default_dialog {
	text-align : center;
	padding-top : 48%;
	height : 50%;
	position : absolute;
	top : 0px;
	right : 0px;
	width : 100%;
}

@media screen and ( max-height : 600px ){
	#chat_wrap {
		height : calc( 100vh - 42px );
	}
}


::-webkit-scrollbar {
	width : 2px;
}

::-webkit-scrollbar-thumb:vertical:active {
}

::-webkit-scrollbar-thumb {
	background-color : rgba(255,92,62,.6);
	background-clip : padding-box;
}

