#form {
	width : 100%;
	padding-top : 60px;
	max-width : 370px;
	display : block;
	margin : auto;
	font-size : 10pt;

}
#form label, #form input {
	margin : auto;
	margin-bottom : 10px;
	display : block;
	width : calc( 100% - 24px );
}

#form input {
	margin-bottom : 40px;
	padding : 10px;
}

#form #form_auto_login {
	cursor : pointer;
	padding-top : 2px;
	padding-left : 17px;
	vertical-align : middle;
	margin-bottom : 3px;
	background-position : left;
	background-repeat : no-repeat;
}

#form .form_btn {
	text-align : center;
	width : 100%;
	color : white;
	font-size : 14pt;
	padding-top : 10px;
	padding-bottom : 10px;
	cursor : pointer;
}

#form #form_login_btn {
	background-color : rgba(255,92,62,0.9);
}
#form #form_login_btn:hover {
	background-color : rgb(255,92,62);
}

#form #form_facebook_btn {
	background-color : #537bbd;
}

#form #form_facebook_btn img{
	vertical-align : top;
	margin-top : 1px;
	margin-right : 10px;
}

#form #form_facebook_btn:hover {
	background-color : #2e4f84;
}

#form text {
	display : block;
	margin-top : 10px;
	margin-bottom : 10px;
}

#form #form_alert {
	color : #ce410a;
	opacity : 0;
	margin-top : 8px;
	margin-bottom : 10px;
}

#form text a {
	color : #ce410a;
	margin-left : 10px;
}

