#form_title {
	display : block;
	margin : 0px auto 50px auto;
	font-weight : bold;
	font-size : 14pt;
	width : 100%;
	max-width : 400px;	
}

#form {
	width : 100%;
	max-width : 370px;
	display : block;
	margin : auto;
	font-size : 10pt;
	
}
#form label, #form input {
	margin : auto;
	margin-bottom : 10px;
	display : block;
	width : 100%;
}

#form input {
	margin-bottom : 40px;
	padding : 10px;
}

#form #form_agree {
	padding-top : 2px;
	padding-left : 25px;
	vertical-align : middle;
	margin-bottom : 3px;
	background-position : left; 
	background-repeat : no-repeat;
}

#form #form_agree a {
	color : #ce410a;
}

#form .form_btn {
	text-align : center;
	width : 100%;
	color : white;
	font-size : 14pt;
	padding-top : 10px;
	padding-bottom : 10px;
	cursor : pointer;
}

#form #form_submit_btn {
	background-color : #4c0e25;
}

#form #form_submit_btn:hover {
	background-color : #8d3958;
}

#form #form_facebook_btn {
	background-color : #537bbd;
}

#form #form_facebook_btn img{
	vertical-align : top;
	margin-top : 1px;
	margin-right : 10px;
}

#form #form_facebook_btn:hover {
	background-color : #2e4f84;
}

#form text {
	display : block;
	margin-top : 10px;
	margin-bottom : 10px;
}

#form #form_alert {
	color : #ce410a;
	opacity : 0;
	margin-top : 8px;
	margin-bottom : 10px;
}

#form text a {
	color : #ce410a;
	margin-left : 10px;
}

