@font-face {
	font-family : 'Nanum GothicL';
	src : url('/font/NanumGothicUL.woff'),
		url('/font/NanumGothicUL.otf');
}

@font-face {
	font-family : 'Nanum Gothic';
	src : url('/font/NanumGothic.woff'),
		url('/font/NanumGothic.otf');
}


