<!doctype html>
<html>
	<head>
		<% include ./header %>
		<% include ./../css/admin %>
		<script>
			var doc;
			<%
				if( locals.page == undefined || page.length == 0 ){
					page = "stat"
				}
				if( locals.doc != undefined ){
			%>
					doc = "<%= doc %>".replace(/&#34;/g,'"');
	                if( doc.length > 0 ){
	                    doc = JSON.parse(doc)
	                }
			<%
				}
			%>
			page = "<%= page %>";
		</script>
		<script src="/js/admin.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
