<!doctype html>
<html>
	<head>
		<% include ./header %>
		<link async rel="stylesheet" type="text/css" href="/css/style.css">
		<link async rel="stylesheet" type="text/css" href="/css/changepw.css">
		<script src="/js/changepw.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
