<!doctype html>
<html>
	<head>
		<% include ./header %>
		<% include ./../css/chat %>
		<script>
			dialogs = "<%= dialogs %>".replace(/&#34;/g,'"');
			if( dialogs.length > 0 ){
				dialogs = JSON.parse(dialogs)
			}
		</script>
		<script src="/js/chat.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
