<!doctype html>
<html>
	<head>
		<% include ./header %>
		<link async rel="stylesheet" type="text/css" href="/css/chat.css">
		<script async>
			dialogs = "<%= dialogs %>".replace(/&#34;/g,'"');
			if( dialogs.length > 0 ){
				dialogs = JSON.parse(dialogs)
			}
		</script>
		<script async src="/js/chat.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
