<!doctype html>
<html>
	<head>
		<% include ./header %>
		<% include ./../css/error %>
		<script src="/js/error.js"></script>
		<% include ./footer %>
	</head>
	<body>
		<div id="error_container">
			<span id="error_box">
				<div id="error_message">
					<div>요청하신 페이지가 존재하지 않습니다.</div>
					입력하신 페이지가 삭제되었거나 일시적으로 사용할 수 없습니다.<br>
					페이지의 주소를 올바르게 입력했는지 확인해보시기 바랍니다.
				</div>
			</span>
		</div>
	</body>
</html>
