<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script src="/js/findpw.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/findpw.css">
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
