<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script async src="/js/game.js"></script>
		<script async src="/js/game_chat.js"></script>
		<link async rel="stylesheet" type="text/css" href="/css/game_chat.css">
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
