<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset="utf-16" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="format-detection" content="telephone=no">
<script src="/js/webfont.js"></script>
<script>
var session = "";
var info = "";
<%
	if( locals.session != undefined ){
%>
		session = "<%= session %>".replace(/&#34;/g,'"');
		if( session.length > 0 ){
			session = JSON.parse(session);
		}
		info = "<%= info %>".replace(/&#34;/g,'"');
		if( info.length > 0 ){
			info = JSON.parse(info);
		}
<%
	}
%>
</script>
<noscript>
	<link rel="stylesheet" type="text/css" href="/css/webfont_normal.css">
</noscript>

<% include ./../css/style %>
<% include ./../css/head %>
<link rel="shortcut icon" href="/img/favicon.png">
<script src="/js/listener.js"></script>
<script src="/js/socketio.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/iori.js"></script>
<% include ./../css/userlist %>
<script src="/js/userlist.js"></script>
<title>iori</title>
<script src="/js/header.js"></script>
