<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script src="/js/timeline.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/timeline.css">
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
