<!doctype html>
<html>
	<head>
		<% include ./header %>
		<style id="css_timeline">
			<% include ./../css/timeline %>
			<% include ./../css/imglayer %>
		</style>
		<script src="/js/timeline.js"></script>
		<script src="/js/imglayer.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
