<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script src="/js/timeline.js"></script>
		<script src="/js/imglayer.js"></script>
		<% include ./../css/timeline %>
		<% include ./../css/imglayer %>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
