<!doctype html>
<html>
	<head>
		<% include ./header %>
		<link rel="stylesheet" type="text/css" href="/css/login.css">
		<script src="/js/login.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
