<!doctype html>
<html>
	<head>
		<% include ./header %>
		<style id="css_login">
			<% include ./../css/login %>
		</style>
		<script src="/js/login.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
