<!doctype html>
<html>
	<head>
		<% include ./header %>
		<% include ./../css/notice %>
		<script>
			notices = "<%= notices %>".replace(/&#34;/g,'"');
			if( notices.length > 0 ){
				notices = JSON.parse(notices)
			}
		</script>
		<script async src="/js/notice.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
