<!doctype html>
<html>
	<head>
		<% include ./header %>
		<link async rel="stylesheet" type="text/css" href="/css/notice.css">
		<script async>
			notices = "<%= notices %>".replace(/&#34;/g,'"');
			if( notices.length > 0 ){
				notices = JSON.parse(notices)
			}
		</script>
		<script async src="/js/notice.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
