<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script>
		<%
			if( locals.Post == undefined ){
		%>
				location.href = "/";
		<%
			} else {
		%>
				Post = "<%= Post %>".replace(/&#34;/g,'"');
				if( Post.length > 0 ){
					Post = JSON.parse(Post)
				}
		<%
			}
		%>
		</script>
		<script src="/js/timeline.js"></script>
		<% include ./../css/timeline.ejs %>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
