<!doctype html>
<html>
	<head>
		<% include ./header %>
		<SCript async src="/js/timeline.js"></script>
		<link async rel="stylesheet" type="text/css" href="/css/timeline.css">
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
