<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script async>
		user = "<%= user %>".replace(/&#34;/g,'"');
		if( user.length > 0 ){
	    	user = JSON.parse(user)
		}
		</script>
		<script async src="/js/iori.js"></script>
		<link async rel="stylesheet" type="text/css" href="/css/profile.css">
		<link async rel="stylesheet" type="text/css" href="/css/timeline.css">
		<script async src="/js/timeline.js"></script>
		<script async src="/js/profile.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
