<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script src="/js/register.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/register.css">
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
