<!doctype html>
<html>
	<head>
		<% include ./header %>
		<style id="css_register">
			<% include ./../css/register %>
		</style>
		<script src="/js/register.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
