<!doctype html>
<html>
	<head>
		<% include ./header %>
		<style id="css_search">
			<% include ./../css/search %>
			<% include ./../css/timeline %>
	        <% include ./../css/imglayer.ejs %>
		</style>
        <script src="/js/imglayer.js"></script>
		<script src="/js/timeline.js"></script>
		<script src="/js/search.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
