<!doctype html>
<html>
	<head>
		<% include ./header %>
		<% include ./../css/search %>
		<% include ./../css/timeline %>
        <script src="/js/imglayer.js"></script>
        <% include ./../css/imglayer.ejs %>
		<script src="/js/timeline.js"></script>
		<script src="/js/search.js"></script>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
