<!doctype html>
<html>
	<head>
		<% include ./header %>
		<script async src="/js/upload.js"></script>
		<style id="upload">
			<% include ./../css/upload %>
		</style>
		<% include ./footer %>
	</head>
	<body>
	</body>
</html>
